<%- include("../partials/header.ejs") %>
<main>
  <div class="container text-center">
    <h1>İletişim</h1>
    <form>
      <input
        name="name"
        type="text"
        class="feedback-input"
        placeholder="Name"
      />
      <input
        name="email"
        type="text"
        class="feedback-input"
        placeholder="Email"
      />
      <textarea
        name="text"
        class="feedback-input"
        placeholder="Comment"
      ></textarea>
      <input type="submit" value="SUBMIT" />
    </form>
  </div>
</main>
<%- include("../partials/footer.ejs") %>
